<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        {% block styles %}{% endblock %}
        {% block head %}{% endblock %}
        <title>Test Run</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                {% if session['username'] %}
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>

                    {% if session.get('username') %}
                    <ul>
                    {% if session.get('role') == 'vendor' %}
                        <li><a href='/vendor'>Vendor Dashboard</a></li>
                        <li><a href='/products'>Products</a></li>
                        <li><a href='/orders'>Orders</a></li>
                    {% endif %}

                    {% if session.get('role') == 'customer' %}
                        <li><a href='/products'>Browse</a></li>
                        <li><a href='/orders'>Orders</a></li>
                        <li><a href='#'>Claims</a></li>
                        <li><a href='/cart'>Cart</a></li>
                    {% endif %}
                    {% if session.get('role') == 'admin' %}
                    <li><a href='/admin'>Admin Dashboard</a></li>
                    <li><a href='/admin/discounts?status=pending'>Discount Requests</a></li>
                    <li><a href='/products'>Products</a></li>
                    {% endif %}
                    <li><a href='/settings'>Settings</a></li>
                </ul>
            {% endif %}
        </header>
     {% block body %}{% endblock %}

        <footer></footer>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>