{% extends "base.html" %}
{% block body %}

    {% set prev_page = page - 1 %}
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="flex-box">
            {% for product in products %}
            <div class="product">
                <ul>
                    <li><h1>{{product.name}}</h1></li>
                    <li><h2>{{product.price}}</h2></li>
                    <li><p>{{product.vendor.username}}</p></li>
                </ul>
                <div class="test-actions">
                    <a href="/edit_product/{{ product['product_id'] }}" class="test-action-btn">Edit Product</a>
                    <a href="#" class="test-action-btn">Remove Product</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}