{% extends "base.html" %}
{% block body %}

    {% set prev_page = page - 1 %}
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="flex-box">
            {% for product in products %}
            <div class="product">
                <ul>
                    <li><h1>{{product.name}}</h1></li>
                    <li><h2>${{"{:.2f}".format(product.price)}}</h2></li>
                    <li><p>{{product.vendor.username}}</p></li>
                    <li>
                        <div class="product-card">
                            <h3>{{ product.name }}</h3>

                            <div id="star-container">
                                {% if product.avg_review == 0 %}
                                    <span>No Reviews</span>
                                {% else %}
                                    {% for i in range(1, 6) %}
                                        {# Check if the star should be full, half, or empty #}
                                        {% if i <= product.avg_review %}
                                            <ion-icon name="star" class="rating-star"></ion-icon>
                                        {% elif i - 1 < product.avg_review %}
                                            <ion-icon name="star-half-outline" class="rating-star"></ion-icon>
                                        {% else %}
                                            <ion-icon name="star-outline" class="rating-star"></ion-icon>
                                        {% endif %}
                                    {% endfor %}
                                    <span>({{ product.review_count }})</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li>{{product.visibility.name}}</li>
                </ul>
                
                <div class="test-actions">
                    <a href="/edit_product/{{ product['product_id'] }}" class="test-action-btn">Edit Product</a>
                    <a href="#" class="test-action-btn">Remove Product</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}