{% extends "base.html" %}
{% block body %}

    {% set prev_page = page - 1 %}
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="flex-box">
            {% for product in products %}
                {% if product.visibility.name == 'public' %}
                    <div class="product">
                        <ul>
                            <li><h1>{{product.name}}</h1></li>
                            <li><h2>{{product.price}}</h2></li>
                            <li><p>{{product.vendor.username}}</p></li>
                            <li>
                                {% if product.rating >= 0 %}
                                    Not Yet Reviewed
                            
                                {% else %}
                                    <ion-icon
                                        {% if product.rating >= 1 %}
                                        name="star"
                                        {% elif 0 <= product.rating <= 1 %}
                                        name="star-half-outline"
                                        {% else %}
                                        name="star-outline"
                                        {% endif %}>
                                    </ion-icon>
                                
                                    <ion-icon
                                        {% if product.rating >= 2 %}
                                        name="star"
                                        {% elif 1 <= product.rating <= 2 %}
                                        name="star-half-outline"
                                        {% else %}
                                        name="star-outline"
                                        {% endif %}>
                                    </ion-icon>
                                
                                    <ion-icon
                                        {% if product.rating >= 3 %}
                                        name="star"
                                        {% elif 2 <= product.rating <= 3 %}
                                        name="star-half-outline"
                                        {% else %}
                                        name="star-outline"
                                        {% endif %}>
                                    </ion-icon>
                                
                                    <ion-icon
                                        {% if product.rating >= 4 %}
                                        name="star"
                                        {% elif 3 <= product.rating <= 4 %}
                                        name="star-half-outline"
                                        {% else %}
                                        name="star-outline"
                                        {% endif %}>
                                    </ion-icon>
                                
                                    <ion-icon
                                        {% if product.rating >= 5 %}
                                        name="star"
                                        {% elif 4 <= product.rating <= 5 %}
                                        name="star-half-outline"
                                        {% else %}
                                        name="star-outline"
                                        {% endif %}>
                                    </ion-icon>
                                    <p>{{ product.rating }}</p>
                                {% endif %}
                            </li>
                        </ul>
                            <a href="/view_product/{{ product['product_id'] }}">View Product</a>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="pagination_bar">
        {% if page > 1 %}
            <a href= "{{ "/products/"+ (1) | string }}" class="pagination_button"> < </a>
        {% endif %}
        {% if page > 1 %}
            <a href="{{ "/products/"+ (page - 1) | string }}" class="pagination_button" > {{ page - 1 }} </a>
        {% endif %}
        <a class="pagination_button" style="background-color: black"> {{page}} </a>
        <a href="{{ "/products/"+ (page + 1) | string }}" class="pagination_button"> {{ page + 1 }} </a>
        {% if page <= 1 %}
            <a href="{{"/products/"+ (page + 2) | string }}" class="pagination_button"> {{ page + 2 }} </a>
        {% endif %}
        <a href="{{ "/products/"+ (page + 1) | string }}" class="pagination_button"> > </a>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}