{% extends "base.html" %}
{% block body %}

    {% set prev_page = page - 1 %}
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="flex-box">
            {% for product in products %}
                {% if product.visibility.name == 'public' %}
                    <div class="product">
                        <ul>
                            {% if product.variants and product.variants[0].images and product.variants[0].images[0] %}
                                <li>
                                    <img src="{{ product.variants[0].images[0].image_link }}" alt="{{ product.name }}" style="max-width: 100%; height: auto; max-height: 200px;">
                                </li>
                            {% endif %}
                            <li><h1>{{product.name}}</h1></li>
                            {% if product.is_discount == 1 %}
                                <li><p><s>{{"{:.2f}".format(product.original_price)}}</s></p></li>
                            {% endif %}
                            <li><h2>${{"{:.2f}".format(product.price)}}</h2></li>
                            <li><p>{{product.vendor.username}}</p></li>
                            <li>
                                <div class="product-card">
                                    <div id="star-container">
                                        {% if product.avg_review == 0 %}
                                            <span>No Reviews</span>
                                        {% else %}
                                            {% for i in range(1, 6) %}
                                                {# Check if the star should be full, half, or empty #}
                                                {% if i <= product.avg_review %}
                                                    <ion-icon name="star" class="rating-star"></ion-icon>
                                                {% elif i - 1 < product.avg_review %}
                                                    <ion-icon name="star-half-outline" class="rating-star"></ion-icon>
                                                {% else %}
                                                    <ion-icon name="star-outline" class="rating-star"></ion-icon>
                                                {% endif %}
                                            {% endfor %}
                                            <span>({{ product.review_count }})</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                            <a href="/view_product/{{ product['product_id'] }}">View Product</a>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="pagination_bar">
        {% if page > 1 %}
            <a href= "{{ "/products/"+ (1) | string }}" class="pagination_button"> < </a>
        {% endif %}
        {% if page > 1 %}
            <a href="{{ "/products/"+ (page - 1) | string }}" class="pagination_button" > {{ page - 1 }} </a>
        {% endif %}
        <a class="pagination_button" style="background-color: black"> {{page}} </a>
        <a href="{{ "/products/"+ (page + 1) | string }}" class="pagination_button"> {{ page + 1 }} </a>
        {% if page <= 1 %}
            <a href="{{"/products/"+ (page + 2) | string }}" class="pagination_button"> {{ page + 2 }} </a>
        {% endif %}
        <a href="{{ "/products/"+ (page + 1) | string }}" class="pagination_button"> > </a>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}